<h1>Listing recipe_cruds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_cruds.each do |recipe_crud| %>
      <tr>
        <td><%= link_to 'Show', recipe_crud %></td>
        <td><%= link_to 'Edit', edit_recipe_crud_path(recipe_crud) %></td>
        <td><%= link_to 'Destroy', recipe_crud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe crud', new_recipe_crud_path %>
